body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
nav .brand-logo{
    padding-left:2em;
}

.card-title{
  position: absolute !important;
  bottom: 6px !important;
  left: 6px !important;
  background: rgba(0, 0, 0, 0.75);
  padding: 2px 4px !important;
  color: white !important;
  margin: 0 !important;

}