
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .keys{
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows:repeat(4,1fr);
    grid-template-areas:". crash1 . . . crash2 ." ". . tom1 tom2 ride . china" ". hihat . snare . fltom ." ". . bass1 . bass2 . .";
  }

.bass1 { grid-area: bass1; }

.bass2 { grid-area: bass2; }

.snare { grid-area: snare; }

.hihat { grid-area: hihat; }

.tom1 { grid-area: tom1; }

.tom2 { grid-area: tom2; }

.ride { grid-area: ride; }

.fltom { grid-area: fltom; }

.crash1 { grid-area: crash1; }

.crash2 { grid-area: crash2; }

.china { grid-area: china; }
  
  /* .keys{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  } */
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  